body {
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dot {
  margin-left: 5px;
  margin-right: 5px;
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background: white;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
input[type="text"] {
  width: 100%;
}

#mensagem {
  margin-top: 5px;
  font-weight: bolder;
  color: red;
}
